.member-card {

    &:hover &-background {
        opacity: 1;
    }

    &-container{
        width: 20%;
    }

    cursor: pointer;

    font: {
        family: "Lato";
        style: italic;
    }

    &-image {
        bottom: 0px;
        z-index: 2;
        width: 100%;
        min-height: 0;
    }

    &-text {
        margin: 0;

        font: {
            weight: 700;
            style: "Lato";
        }
    }

    &-info {
        margin-top: 16px;
    }

    &-sub-text {
        margin: 0;

        font: {
            weight: 400;
            style: "Lato";
            color: #262626;
        }

        color: rgba(38, 38, 38, 0.4);
    }
}